<section class="sidebar">
	<form class="sidebar-form" method="get" action="#">
		<div class="input-group">
			<input type="text" placeholder="Search..." class="form-control"
				name="q"><span class="input-group-btn">
				<button class="btn btn-flat" id="search-btn" name="seach"
					type="submit">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
	</form>
	<ul class="sidebar-menu">
		<li {% if code=='home' %}class="active"{% endif %} ><a href="/"> <i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>		
	</ul>
</section>