{% extends "_layout/main.twig" %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="row">
    	<div class="col-sm-12">
    		Code to insert in client page in the position where you want the banner. Please replace width/height with your desidered one.	
    	</div>
    </div>
    <div class="row">
    	<div class="col-sm-12">
    		<pre>&lt;script src=&quot;//{{ domain }}/assets/js/adserver.js&quot; data-width=&quot;300&quot; data-height=&quot;100&quot;&gt;&lt;/script&gt;</pre>	
    	</div>
    </div>
{% endblock %}